PORT=7860

JWT_SECRET=<your_secret_key>
JWT_EXPIRES_IN=1d

NODE_ENV=development

EMAIL_SERVICES=gmail
EMAIL_USER=<email>@gmail.com
EMAIL_PASSWORD=<email_password>
EMAIL_FROM_NAME=Van Pooling Management System

VAPID_PUBLIC_KEY=XXXXYYYYYYYZZZZZZ
VAPID_PRIVATE_KEY=XXXXXXYYYYZZZZZZ
VAPID_EMAIL=<Gmail Account>

DB_HOST=<postgres_host>
DB_USER=<postgres_username>
DB_PASSWORD=<postgres_password>
DB_NAME=<postgres_name>
DB_PORT=5432